.product {
  width: 601px;
  margin-left: 0px;
  margin-top: 220px;
  background: white;
  float: left;
  padding-top: 27px;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 150px;
}
