header {
  align-content: center;
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
  float: left;
}

nav {
  font-size: 21px;
  font-family: "segoe ui", "roboto", sans-serif;
  float: right;
}
a {
  text-decoration: none;
  color: inherit;
  padding-left: 60px;
}

button {
  /*margin: 40px;*/

  width: 200px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #252c41;
  float: right;
  margin-top: 100px;
  margin-right: 165px;
  margin-bottom: 60px;
  color: #fff;
  border: none;
}
